*{
    margin: 0;
    padding: 0;
    
}
.primario {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    background-color:rgb(196, 116, 116);
    width: 100%;
    
}

.logo-tit {
    display: flex;
    background-color: black;
    justify-content: space-evenly;
}

.navbar-rs {
    display: flex;
    flex-direction: row;
    font-size: 1.8vw;
    
    width:100%;
    justify-content: stretch;
    align-self: center;
}

.navbar-rs a {
        color: rgb(22, 21, 7);;
        text-align: center;
        list-style: none;
        align-self: flex-start;
        text-decoration: none;
}
.navbar-rs a::after {
    color: crimson;

}
.navbar-rs a::before {
    color: aqua;
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    color: darkseagreen;
    list-style: none;
    text-decoration: none;
}
/*.navbar-li {
        color:rgb(218, 28, 85);
        text-decoration: none;
        list-style: none;
}*/

.navbar-li:hover {
    background: rgb(121, 66, 66);
}

.btn {
            color: rgb(32, 24, 24);
            border-color: whitesmoke;
            transition: none;
}
    
.btn:hover {
             background: linear-gradient(to right, #eea2a2 0%, #bbc1bf 19%, #57c6e1 42%, #b49fda 79%, #7ac5d8 100%);
    
 }
  

.navbtn{
    color: rgb(228, 231, 31);
}

.innavbtn{
    color: rgb(232, 236, 240);
}